<div class="logInForm">
  <form action="/login" method="post">
    <div class="form-group">
      <label for="email">e-mail</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="Type your e-mail">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Type your password">
    </div>
    <button type="submit">Login</button>
    {{!-- <div>
      <img src="../../public/images/matchCota_logo.png" alt="img">
    </div> --}}
  </form>
</div>