<form action="/pet-create" method="POST" enctype="multipart/form-data">
  <section> In this section you will list all the pet's characteristics, don't forget to be as true as possible in order
    to find the best match for it!
  </section>

  <input type="hidden" name="userID" id='userID'>
  <p>Upload at least three pictures of the pet you're trying to find a home for, consider that these images are the
    first approach for the adopters so make them AWESOME, avoid including other pets or people in said pictures. </p>

  <label for="photo">Select photos</label>
  <input type="file" name="photo" id="photo" multiple>

  <p>What is the general area where the reside such as city, or neigborhood </p>
  <label for="location">Location</label>
  <input type="text" name='location' id='location'>

  <p>Whats the little guy's name</p>
  <label for="petName">Name:</label>
  <input type="text" name="petName" placeholder="Spot">


  <p>What kind of pet do you have for an adopter?</p>
  <label for="petType">Choose pet type</label>
  <select name="petType" id="petType">
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="other">Other</option>
    <input type="text" name="otherPetType" placeholder="if 'OTHER' specify here...">
  </select>
  <p>Please specify the age of the pet</p>
  <label for="age">Choose age</label>
  <select name="age" id="age">
    <option value="pup">0 - 1 year</option>
    <option value="young adult"> 1 to 4 years </option>
    <option value="adult"> 4 to 8 years</option>
    <option value="senior">More than 8 years</option>
  </select>
  <p>Please indicate the size of the pet</p>
  <label for="petSize">Choose size</label>
  <select name="petSize" id="petSize">
    <option value="very small">Very small</option>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
    <option value="huge">HUGE</option>
  </select>
  <label for="gender">Pet's gender</label>
  <select name="gender" id="gender">
    <option value="female">Female</option>
    <option value="male">Male</option>
  </select>


  <p>Here select all the attributes that best apply to the pet</p>
  <p>Sheding and grooming</p>
  No Sheding: <input type="checkbox" name="attributes[]" value="No Sheding" /><br />
  Some Sheding: <input type="checkbox" name="attributes[]" value="Some Sheding" /><br />
  Heavy Sheding: <input type="checkbox" name="attributes[]" value="baseball" /><br />
  No Gromming necessary: <input type="checkbox" name="attributes[]" value="No Gromming necessary" /><br />
  Some Gromming necessary: <input type="checkbox" name="attributes[]" value="Some Gromming necessary" /><br />
  Heavy Gromming necessary: <input type="checkbox" name="attributes[]" value="Heavy Gromming necessary" /><br />

  <p>Personality</p>
  Needs lots of attention: <input type="checkbox" name="attributes[]" value="Needs lots of attention" /><br />
  Is independent: <input type="checkbox" name="attributes[]" value="Is independent" /><br />
  Is confident: <input type="checkbox" name="attributes[]" value="Is confident" /><br />
  Is shy or nervous: <input type="checkbox" name="attributes[]" value="Is shy or nervous" /><br />
  Is playful: <input type="checkbox" name="attributes[]" value="Is playful" /><br />
  Is relaxed: <input type="checkbox" name="attributes[]" value="Is relaxed" /><br />
  Is protective: <input type="checkbox" name="attributes[]" value="Is protective" /><br />
  Is quiet: <input type="checkbox" name="attributes[]" value="Is quiet" /><br />
  Makes some noise: <input type="checkbox" name="attributes[]" value="Makes some noise" /><br />
  Is noisy: <input type="checkbox" name="attributes[]" value="Is noisy" /><br />
  Is great with kids: <input type="checkbox" name="attributes[]" value="Is great with kids" /><br />
  Is not great with kids: <input type="checkbox" name="attributes[]" value="Is not great with kids" /><br />
  Is great with other pets: <input type="checkbox" name="attributes[]" value="Is great with other pets" /><br />
  Is not great with other pets: <input type="checkbox" name="attributes[]" value="Is not great with other pets" /><br />

  <p>Training</p>
  Is house trained: <input type="checkbox" name="attributes[]" value="Is house trained" /><br />
  Has obidience training: <input type="checkbox" name="attributes[]" value="Has obidience training" /><br />

  <p>Is your pet sterilized?</p>
  <input type="radio" name="sterilized" value="true"> The pet is already sterilized </br>
  <input type="radio" name="sterilized" value="false"> The pet is not sterilized yet </br>

  <p>Does the pet have any medical needs? If so, please specify</p>
  <input type="radio" name="medicalNeeds" value="false"> The pet doesn't have any medical needs</br>
  <input type="radio" name="medicalNeeds" value="true"> The pet has medical needs</br>
  <input type="text" name="ifMedicalNeeds" placeholder="if  it has medical needs specify here...">

  <button type="submit">Submit pet info</button>

</form>