<h1>MatchCota</h1>
<h2>The right pet, for the right home</h2>

<p>In this site you'll find people that loves animals, just like you</p>
<p>Either if you're looking for a pet, or you have a pet you're looking a home for, MatchCota is the best option to
  achieve this!</p>

<p>Remember, you have to be at least 18 to use this site, otherwise, ask an adult for help in order to use it</p>