<div class="indexRoute">
  <div>
    <h1>MatchCota</h1>
  </div>
  <div>
    <h2>The right pet, for the right home</h2>
  </div>
  <div>
    <p>In this site you'll find people that loves animals, just like you</p>
    <p>Either if you're looking for a pet, or you have a pet you're looking a home for, MatchCota is the best option to
      achieve this!</p>
  </div>
  <div>
    <img src="../public/images/matchCota_logo4.png" alt="img">
  </div>
  <div>
    <p>Remember, you have to be at least 18 to use this site, otherwise, ask an adult for help in order to use it</p>
  </div>
</div>