body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.active {
  display: none;
}

.indexRoute {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/person-walking-gif-162052-9422956.gif');
  background-size: cover;
}

.logInForm {
  width: 100vw;
  height: 100vh;
  background-color: #bc986a;
}
